<div class="position-absolute top-50 start-50 translate-middle">
    <header>
        <span class="login-page-name">{{ pageName }}</span>
    </header>
    <table class="box">
        <tr>
            <td id="login-user-password">Username:</td>
            <td><input [(ngModel)]="username"></td>
        </tr>
        <tr>
            <td id="login-user-password">Password:</td>
            <td><input [(ngModel)]="password" type="password"></td>
        </tr>
    </table>
    <button (click)="login()" id="login-button" class="btn btn-success">Login</button>
    <p [ngClass]="{
        'invisible': showErrorMessage === true
    }" id="login-error-message" class="text-danger fw-bold">{{ errorMessage }}</p>
</div>
