<div>
    <header>
        <app-menu-bar></app-menu-bar>
        <span>{{ pageName }}</span>
    </header>
    <table class="table table-secondary table-hover" *ngIf="user">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="user.id" readonly></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input [(ngModel)]="user.username" readonly></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input [(ngModel)]="user.password" readonly></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input [(ngModel)]="user.firstName" readonly></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input [(ngModel)]="user.lastName" readonly></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input [(ngModel)]="user.phoneNumber" readonly></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input [(ngModel)]="user.email" readonly></td>
            </tr>
            <tr>
                <td>Reviewer?</td>
                <td><input [(ngModel)]="user.isReviewer" readonly></td>
            </tr>
            <tr>
                <td>Admin?</td>
                <td><input [(ngModel)]="user.isAdmin" readonly></td>
            </tr>
        </tbody>
    </table>
    <button (click)="showVerifyDeleteButton()" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
    <span *ngIf="displayVerifyButton">
        <span> | </span>
        <button (click)="removeUser()" class="btn btn-outline-danger">Confirm Delete</button>
    </span>
</div>