<div>
    <nav id="nav-bar" class="bg-dark">
        <ul>
            <a href="#">PRS</a>
            <li *ngFor="let menu of menus">
                <a routerLink="{{ menu.route }}">{{ menu.display }}</a>
            </li>
            <div class="nav-right">
                <li>
                    <span>Welcome, {{ navBarUser }}!</span>
                </li>
                <li>
                    <button (click)="signOutUser()" class="btn btn-danger btn-sm"><i class="bi bi-box-arrow-right"></i></button>
                </li>
            </div>
        </ul>
    </nav>
</div>