<!--Take the style coded into the nav out and style it with bootstrap-->
<nav style="background-color: #898989;" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PRS</a>
        <ul class="navbar-nav">
            <li *ngFor="let menu of menus" class="nav-item">
                <a routerLink="{{ menu.route }}" class="nav-link">{{ menu.display}}</a>
            </li>
            <li>
                <button (click)="signOutUser()" class="btn btn-outline-secondary nav-link"><i class="bi bi-box-arrow-right"></i></button>
            </li>
        </ul>
    </div>
</nav>