<div>
    <header>
        <app-menu-bar></app-menu-bar>
        <span id="page-name">{{ pageName }}</span>
    </header>
    <table class="table table-striped table-sm">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="newProduct.id" readonly disabled></td>
            </tr>
            <tr>
                <td>Part Number</td>
                <td><input [(ngModel)]="newProduct.partNbr"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input [(ngModel)]="newProduct.name"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input [(ngModel)]="newProduct.price"></td>
            </tr>
            <tr>
                <td>Unit</td>
                <td><input [(ngModel)]="newProduct.unit"></td>
            </tr>
            <tr>
                <td>Photo Path</td>
                <td><input [(ngModel)]="newProduct.photoPath"></td>
            </tr>
            <tr>
                <td>Vendor</td>
                <td>
                    <select [(ngModel)]="newProduct.vendorId">
                        <option *ngFor="let vendor of vendors" value="{{ vendor.id }}">{{ vendor.name }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="createProduct()" class="btn btn-success">Create</button>
</div>
