<div>
    <header>
        <app-menu-bar></app-menu-bar>
        <span id="page-name">{{ pageName }}</span>
    </header>
    <table *ngIf="request" class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Justification</th>
                <th>Rejection Reason</th>
                <th>Delivery Mode</th>
                <th>Status</th>
                <th>Total</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.justification }}</td>
                <td id="rejection">{{ request.rejectionReason }}</td>
                <td>{{ request.deliveryMode }}</td>
                <td [ngClass]="{
                    'text-danger': request.status === 'REJECTED',
                    'text-success': request.status === 'APPROVED',
                    'text-primary': request.status === 'REVIEW'
                }" class="fw-bold">{{ request.status }}</td>
                <td>{{ request.total | currency }}</td>
                <td>{{ request.users.username }}</td>
                <td>
                    <button (click)="reviewRequest(request)" routerLink="/request/request-lines/{{ request.id }}" class="btn btn-primary btn-sm">Submit For Review</button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <span *ngIf="request"><button routerLink="/requestline/requestline-create/{{ request.id }}" class="btn btn-primary btn-sm">Add Item</button></span>
    <table *ngIf="request" class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Line Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let requestLine of request.requestLines">
                <td>{{ requestLine.id }}</td>
                <td>{{ requestLine.products.name }}</td>
                <td>{{ requestLine.products.price | currency }}</td>
                <td>{{ requestLine.quantity }}</td>
                <td>{{ requestLine.products.price * requestLine.quantity | currency }}</td>
                <td>
                    <button routerLink="/requestline/requestline-change/{{ requestLine.id }}" class="btn btn-warning btn-sm">Edit</button>
                    <span> | </span>
                    <button (click)="deleteRequestline(requestLine.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
