<div>
    <header>
        <app-menu-bar></app-menu-bar>
        <span>{{ pageName }}</span>
    </header>
    <table class="table table-secondary table-hover">
        <tbody>
            <tr>
                <td>Id</td>
                <td><input [(ngModel)]="request.id" readonly disabled></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input [(ngModel)]="request.description"></td>
            </tr>
            <tr>
                <td>Justification</td>
                <td><input [(ngModel)]="request.justification"></td>
            </tr>
            <tr>
                <td>Rejection Reason</td>
                <td><input [(ngModel)]="request.rejectionReason" readonly disabled></td>
            </tr>
            <tr>
                <td>Delivery Mode</td>
                <td><input [(ngModel)]="request.deliveryMode"></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><input [(ngModel)]="request.status" readonly disabled></td>
            </tr>
            <tr>
                <td>Total</td>
                <td><input [(ngModel)]="request.total" readonly disabled></td>
            </tr>
            <tr>
                <td>User</td>
                <td><input [(ngModel)]="request.users.username" readonly disabled></td>
            </tr>
        </tbody>
    </table>
    <button (click)="saveRequest()" class="btn btn-outline-secondary">Save Changes</button>
</div>
