/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

input, select {
    border-radius: 7px;
}

#action-table-head {
    padding-left: 45px;
}

#page-name {
    font-weight: bold;
    font-size: 1.3em;
}

#rejection {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
}